<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iurac.recruit.mapper.ResumeMapper">

    <select id="getByCondition" resultType="com.iurac.recruit.entity.Resume">
        select r.*,u.username
        from t_resume r
        left join t_user u on r.user_id = u.id
        <where>
            <if test="username!='' and username!=null">
                and u.username like concat('%',#{username},'%')
            </if>
        </where>
        limit #{skipCount},#{limit}
    </select>
    <select id="getCountByCondition" resultType="java.lang.Long">
        select count(*)
        from t_resume r
        left join t_user u on r.user_id = u.id
        <where>
            <if test="username!='' and username!=null">
                and u.username like concat('%',#{username},'%')
            </if>
        </where>
    </select>
</mapper>
